# Секреты
.env
.streamlit/secrets.toml

# Виртуальное окружение (ОБЯЗАТЕЛЬНО)
.venv/
venv/
ENV/

# Настройки IDE (PyCharm )
.idea/
.vscode/

# Кэш Python
__pycache__/
*.pyc

# Данные и отчеты
*.xlsx
*.csv
*.log